:root {
  --main-font-family: 'Work Sans', sans-serif;
  --default-font-weight: 400;

  --header-font-weight: 400;
  --header-font-size: 48px;

  --card-border-radius: 8px;
  --code-border-radius: 4px;

  --code-box-padding: 16px;
}

body {
  font-family: var(--main-font-family);
  font-weight: var(--default-font-weight);

  font-size: 100%;
  margin: 0;

  #root {
    overflow: hidden;

    header {
      height: 100px;
      display: flex;
      justify-content: space-between;
      padding-top: 16px;
      padding-right: 5%;
      padding-bottom: 0;
      padding-left: 5%;

      @media (min-width: 1397px) {
        padding-right: calc(55% - 768px);
        padding-left: calc(55% - 768px);
      }
    }

    .main {
      max-width: 1536.8px;
      margin-top: -20px;
      margin-right: auto !important;
      margin-left: auto !important;

      @media (min-width: 1200px) {
        /* lg and higher */
        padding-right: 32px;
        padding-left: 32px;
      }

      .blog-post,
      .breadcrumbs,
      .menu {
        margin-bottom: 20px;
      }

      .menu {
        border-radius: 8px;
        overflow: clip;
        min-height: 48.5px;
      }

      .breadcrumbs {
        .ant-card-head {
          border-radius: var(--card-border-radius);
        }
      }

      :not(.breadcrumbs)>.ant-card-head {
        border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
      }

      .card {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
          0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
        border-radius: 8px;

        .nuxt-content {
          font-size: 125%;

          pre.shiki {
            padding: var(--code-box-padding);
            border-radius: var(--code-border-radius);
          }
        }

        .card-cover {
          border-radius: 8px 8px 0 0;
        }

        :deep(.ant-card-actions) {
          border-radius: 0 0 8px 8px;

          > :first-child {
            border-radius: 0 0 0 8px;
          }

          > :last-child {
            border-radius: 0 0 8px 0;
          }
        }

        .ant-card-actions {
          border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);

          a {
            svg {
              path {
                transition: fill 0.2s ease-out;
              }
            }

            &:hover svg {
              path {
                transition: fill 0.2s ease-out;
              }
            }
          }
        }
      }
    }

    .ant-tree {
      .ant-tree-switcher.ant-tree-switcher-noop {
        display: none;
      }
    }
  }

  div.ant-popover-inner {
    padding-bottom: 4px !important;

    table>tbody>tr:nth-child(5)>td {
      border-bottom: none !important;
    }
  }
}