:root {
  --main-font-family: "Work Sans", sans-serif;
  --default-font-weight: 400;
  --default-text-color: white;

  --header-font-weight: 400;
  --header-font-size: 48px;

  --card-border-radius: 8px;
}

body {
  font-family: var(--main-font-family);
  font-weight: var(--default-font-weight);
  
  font-size: 100%;
  margin: 0;

  #root {
    overflow: hidden;

    header {
      height: 140px;
      display: flex;
      justify-content: space-between;
      padding: 16px 64px 0 64px;
    }

    .main {
      margin-top: -20px;
      @media (min-width: 1200px) {
        /* lg and higher */
        padding-right: 32px;
        padding-left: 32px;
      }

      .blog-post,
      .breadcrumbs,
      .menu {
        margin-bottom: 20px;
      }

      .menu {
        border-radius: 8px;
        overflow: clip;
        min-height: 48.5px;
      }

      .ant-card-head {
        border-radius: var(--card-border-radius);
      }

      .card {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
          0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
        border-radius: 8px;

        .card-cover {
          border-radius: 8px 8px 0 0;
        }

        ::v-deep {
          .ant-card-actions {
            border-radius: 0 0 8px 8px;

            > :first-child {
              border-radius: 0 0 0 8px;
            }

            > :last-child {
              border-radius: 0 0 8px 0;
            }
          }
        }

        .ant-card-actions {
          border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);

          a {
            svg {
              path {
                transition: fill 0.2s ease-out;
              }
            }
    
            &:hover svg {
              path {
                transition: fill 0.2s ease-out;
              }
            }
          }
        }
      }
    }
  }
}